$gap : 10px;

$app-main-text-color:black;
$app-nav-bg-color   : rgba(242, 242, 250, 0.648);
$board-nav-bg-color : rgba(249, 250, 250, 0.92);
$list-bg-color      : rgb(221, 210, 210);
$alert-danger       : #EA2027;

$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;