$gap : 10px;

$app-main-text-color:black;
$app-nav-bg-color : rgba(156, 156, 162, 0.648);
$board-nav-bg-color : rgba(221, 235, 235, 0.92);
$list-bg-color : rgba(255, 255, 255, 0.893);
$alert-danger: #EA2027;

$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;