*{
  margin: 0;
  padding: 0;
}

.my-header{
  background-image: url(https://s3.cloud.cmctelecom.vn/tinhte1/2012/12/3245578_DSC08472.jpg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  padding: 15px;
}

.app-wrapper{
  background-color: #fff;
  width: 450px;
  height: 560px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 25px;
}

.title{
  color: #060505;
  text-align: center;
  margin: 30px 0px 30px 0px;
  padding: 0px 40px 0px 40px;
}

a{
  text-decoration: none;
}

.username,
.password{
  margin: 20px;
  color: #423f3f;
  font-size: 16px;
  margin-bottom: 5px !important;
}

.password{
  margin-bottom: 5px;
}

div{
  display: block;
}

body{
  direction: ltr;
}

.input{
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}

.input:focus{
  border-color: #2717ce;
}

.error{
  color: red;
  margin-left: 20px;
}

.submit{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 150px;
  background: linear-gradient(to right, #3a14e4, #4019cd);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

button:active{
  transform: translateY(2px);
}

.formsuccess{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color:#f80759;
}

.eye{
  position: absolute;
  cursor: pointer;
  max-width: 30px;
}

