.task-detail {
    width  : 97%;
    border : 1px solid rgb(15, 15, 15);
    padding: 10px;
    margin : 30px 20px;

    .table-detail {
        margin: 20px 0 20px 0;

        .td_label {
            padding-left: 15px;
            font-weight : 500;
        }

        .td_form {
            padding-left: 40px;

            span {
                label {
                    cursor: pointer;

                    input[type='radio'] {
                        display: none;
                    }
                }
            }
        }
    }
}