.task-detail {
    width  : 98%;
    border : 1px solid rgb(15, 15, 15);
    padding: 10px;
    margin : 40px 10px;

    .header {
        font-size: 1.9rem;

    }

    .table-detail {
        margin: 20px 0 20px 0;

        .td_label {
            padding-left: 15px;
        }

        .td_form {
            padding-left: 40px;

            span {
                label {
                    cursor: pointer;

                    input[type='radio'] {
                        display: none;
                    }
                }
            }
        }
    }
}