@import '../../settings';

div.card-item {
    background-color: white;
    height          : 130px;
    padding         : 7px 0 10px 0;
    border-radius   : $column-border-radius;
    box-shadow      : 1px 2px 2px rgba(0, 0, 0, 0.9);
    margin-bottom   : 10px;

    .title-card {
        font-weight: 500;
    }

    .item {
        color: rgb(9, 9, 10);
    }

    img {
        display                : block;
        width                  : calc(100% + 2*#{$gap});
        margin                 : $gap 0 $gap (-$gap);
        border-top-left-radius : $column-border-radius;
        border-top-right-radius: $column-border-radius;

    }

    .avatar {
        padding-left: 75px;
    }

    .avatars {
        padding-left: 20px;
    }


    span {
        padding: 15px 5px 0px 5px;

        .icon {
            font-size: 0.8rem;
            color    : blue;
        }
    }

    div {
        .set-icon {
            cursor   : pointer;
            font-size: 1.1rem;
        }
    }

    header {

        padding: 5px 0px;
        cursor : pointer;

        span {
            color: blue;

            label {

                cursor: pointer;

                input[type='radio'] {
                    display: none;
                }
            }
        }
    }
}